* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe Print;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: radial-gradient(rgb(211, 211, 211), rgb(0, 0, 0));
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(211, 211, 211);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

main {
    backdrop-filter: blur(7px) saturate(150%) contrast(120%) brightness(80%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(130, 130, 130, 0.2) 40%, rgba(20, 20, 20, 0.1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 60vh;
    border: none;
    border-radius: 40px;
    padding: 3%;
    z-index: 1;
}

main::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow:
        inset -3px -3px 10px rgba(0, 0, 0, 0.1),
        inset 3px 3px 10px rgba(255, 255, 255, 0.3);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(130, 130, 130, 0.2) 20%, rgba(20, 20, 20, 0.1) 100%);
    border-radius: 40px;
    pointer-events: none;
    z-index: 2;
}

form {
    width: 90%;
    margin-top: 5%;
}

#inputs {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 60%;
    z-index: 3;
}

#buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    width: 55%;
    height: 15%;
    z-index: 3;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 50px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: -3%;
}

input {
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(211, 211, 211, 1) 20%, rgba(150, 150, 150, 1) 100%);
    box-shadow:
        inset -3px -3px 10px rgba(0, 0, 0, 0.5),
        inset 3px 3px 10px rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    padding: 1%;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

input:focus {
    outline: none;
    transform: scale(1.05);
}

input:hover {
    transform: scale(1.05);
}

input::placeholder {
    color: black;
}

#resetButton, #testButton {
    width: 40%;
    border: none;
    border-radius: 999px;
    font-weight: bold;
    font-size: 25px;
}

#testButton:hover, #resetButton:hover {
    transform: scale(1.12);
    cursor: pointer;
}

#testButton:active, #resetButton:active {
    transform: scale(0.86);
    cursor: pointer;
}

#resetButton {
    color: rgb(211, 211, 211);
    background-color: rgb(70, 70, 70);
    box-shadow:
        inset -3px -3px 10px rgba(0, 0, 0, 0.5),
        inset 3px 3px 10px rgba(255, 255, 255, 0.3);
    height: 90%;
}

#testButton {
    color: rgb(0, 0, 0);
    box-shadow:
        inset -3px -3px 10px rgba(0, 0, 0, 0.5),
        inset 3px 3px 10px rgba(255, 255, 255, 0.3);
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(211, 211, 211, 1) 20%, rgba(150, 150, 150, 1) 100%);
    height: 100%;
}

#result {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 30%;
}

#resultBar1 {
    width: 80%;
    height: 15%;
    border: none;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    visibility: hidden;
}

#resultBar2 {
    box-shadow:
        inset -3px -3px 10px rgba(0, 0, 0, 0.5),
        inset 3px 3px 10px rgba(255, 255, 255, 0.3);
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(211, 211, 211, 1) 20%, rgba(150, 150, 150, 1) 100%);
    border-radius: 15px;
    height: 100%;
    visibility: hidden;
}

#themes {
    position: relative;
    display: flex;
    width: 10%;
    height: 3.5%;
    border: none;
    border-radius: 999px;
    overflow: hidden;
    margin-top: 3%;
}

#themes::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 999px;
    box-shadow:
        inset -3px -3px 10px rgba(0, 0, 0, 0.5),
        inset 3px 3px 10px rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

#light,
#pink,
#blue,
#green {
    height: 100%;
    width: 25%;
    border-radius: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

#light:hover,
#pink:hover,
#blue:hover,
#green:hover {
    cursor: pointer;
}

#light {
    background-color: rgb(211, 211, 211);
    margin-left: 0;
}

#pink {
    background-color: rgb(255, 192, 203);
}

#blue {
    background-color: rgb(173, 216, 230);
}

#green {
    background-color: rgb(202, 255, 202);
    border: none;
}

footer {
    font-family: sans-serif;
    text-shadow: none;
    position: absolute;
    top: 97%;
    left: 1%;
}

@media(max-width: 430px) {
    main {
        width: 90%;
    }

    footer {
        font-size: 15px;
        left: 3%;
    }

    #inputs {
        height: 50%;
    }

    input {
        font-size: 15px;
    }

    #result {
        font-size: 40px;
    }

    #resultBar1 {
        width: 120%;
    }

    #buttons {
        height: 13%;
        width: 85%;
    }

    #themes {
        width: 50%;
        height: 5%;
        border-radius: 30px;
    }
}
